.container{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-items :center;

}

a.submit{
    padding : 5px 25px;
    border-radius : 10px;
    text-decoration-color : white;
    background : #262626;
    color : white;
}

a.submit:hover{
    padding : 6px 28px;
    color : white;
}

.input {
    text-align : center;
    padding-left : 30px;
    padding-right : 30px;
    border-radius : 5px;
}